extends layout

block content
  .container
    h1 Симлпекс метод ЛП
    br
    form(role='form', action="/", method="post", style='max-width: 300px;')
      .form-group
        select(size="2" id='typo' name="types" style="width: 300px;")
          option(selected value='maximize') Максимизация
          option(value='minimize') Минимизация
      .form-group
        label(for="task") Целевая функция
        input.form-control(type='text',id='task', name="task", placeholder='305x1+200x2')
      .form-group
        label(for="limit") Ограничение
        input.form-control(type='text',id='limit', name="limit", placeholder='0.8x1+0.2x2<=16')
      button.btn.btn-default(type='submit') Submit


    button.btn.btn-default(onclick='Add()') Добивить ограничение
    a(href='/')
      button.btn.btn-primary(type="button") Cancel
  script(type='text/javascript').
    var inp = 0;
    function Add() {
      inp++;
      form = document.body.getElementsByTagName('form')[0];
      div = document.createElement('div');
      div.className = 'form-group';
      div.innerHTML = "<label for='limit"+inp+"'>Ограничение</label><input class='form-control' type='text' id='limit"+inp+"' name='limit' placeholder='0.1x1+0.2x2<=13'>";
      form.insertBefore(div, form.lastChild);
    }